= form_for @booking, html: { class: "form-horizontal", role: "form" } do |f|
  -if @booking.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@booking.errors.count, "error")} prohibited this booking from being saved:"

      %ul
        - @booking.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :product_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :product_id, class: 'form-control'
  .form-group
    = f.label :company_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :company_id, class: 'form-control'
  .form-group
    = f.label :quantity, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :quantity, class: 'form-control'
  .form-group
    = f.label :user_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :user_id, class: 'form-control'
  .form-group
    = f.label :shop_id, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :shop_id, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
