.page-header
  = link_to new_booking_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Booking
  %h1 Listing bookings

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Product
        - if current_user.has_role?(:customer)
          %th Company
        %th Quantity
        %th User
        - if current_user.has_role?(:provider)
          %th Shop
        %th
        %th
        %th

    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.name
          %td= booking.product.name
          - if current_user.has_role?(:customer)
            %td= booking.company.name
          %td= booking.quantity
          %td= booking.user.full_name
          - if current_user.has_role?(:provider)
            %td= booking.shop.name
          %td= link_to 'Show', booking
          %td= link_to 'Edit', edit_booking_path(booking)
          %td= link_to 'Destroy', booking, data: { confirm: 'Are you sure?' }, method: :delete
