.page-header
  = link_to new_booking_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Booking
  %h1 Listing bookings

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Product
        %th Company
        %th Quantity
        %th User
        %th Shop
        %th
        %th
        %th

    %tbody
      - @bookings.each do |booking|
        %tr
          %td= booking.name
          %td= booking.product_id
          %td= booking.company_id
          %td= booking.quantity
          %td= booking.user_id
          %td= booking.shop_id
          %td= link_to 'Show', booking
          %td= link_to 'Edit', edit_booking_path(booking)
          %td= link_to 'Destroy', booking, data: { confirm: 'Are you sure?' }, method: :delete
