.page-header
  = link_to new_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New User
  %h1 Listing users

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th First name
        %th Last name
        %th Phone
        %th Company
        %th Shop
        %th
        %th
        %th

    %tbody
      - @users.each do |user|
        %tr
          %td= user.first_name
          %td= user.last_name
          %td= user.phone
          %td= user.company_id
          %td= user.shop_id
          %td= link_to 'Show', user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy', user, data: { confirm: 'Are you sure?' }, method: :delete
