.page-header
  = link_to users_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_user_path(@user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show user

%dl.dl-horizontal
  %dt First name:
  %dd= @user.first_name
  %dt Last name:
  %dd= @user.last_name
  %dt Phone:
  %dd= @user.phone
  %dt Company:
  %dd= @user.company_id
  %dt Shop:
  %dd= @user.shop_id
  %dt Role:
  %dd= @user.role