.page-header
  %h1.text-center Welcome to TradeBox, #{current_user.full_name}

.row
  .col-lg-offset-3.col-lg-6.text-center
    = link_to 'Products',  products_path,  class: 'btn btn-primary'
    = link_to 'Companies', companies_path, class: 'btn btn-success'
    = link_to 'Shops',     shops_path,     class: 'btn btn-info'
    = link_to 'Bookings',  bookings_path,  class: 'btn btn-danger'
    = link_to 'Users',     users_path,     class: 'btn btn-warning'
